<%- include('../layouts/admin/header') %>
  <!--begin::Body-->

  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <%- include('../layouts/admin/navbar-sidebar') %>
        <!--begin::App Main-->
        <main class="app-main">
          <!--begin::App Content Header-->
          <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
              <!--begin::Row-->
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="mb-0">Student Ranking</h3>
                </div>
                <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
              </div> -->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Container-->
          </div>
          <!--end::App Content Header-->
          <!--begin::App Content-->
          <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">

              <div class="container py-1">

                <!-- Filter Form -->
                <form id="ranking-filter-form" method="GET" action="/admin/rankings">
                  <div class="row mb-4">
                    <div class="col-md-3">
                      <select name="courseId" id="courseId" class="form-select">
                        <option value="" disable>Select Course</option>
                        <%if(courses){ courses.forEach((course)=>{
                          %>
                          <option value="<%=course._id%>">
                            <%=course.name %>
                          </option>
                          <% }) } %>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <select name="batchId" id="batchId" class="form-select" required>
                        <option value="">Select Batch</option>
                        <%if(batches){ batches.forEach((batch)=>{
                          %>
                          <option value="<%=batch._id%>">
                            <%=batch.name %>
                          </option>
                          <% }) } %>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <select name="examId" id="examId" class="form-select" required>
                        <option value="">Select Exam</option>
                        <%if(exams){ exams.forEach((exam)=>{
                          %>
                          <option value="<%=exam._id%>">
                            <%=exam.title %>
                          </option>
                          <% }) } %>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-primary w-100">Filter</button>
                    </div>
                  </div>
                </form>


                <div class="row mb-4">
                  <div class="col-md-3">
                    <div class="stats-card">
                      <h6>Total Students Attended</h6>
                      <h4 id="tot-student"></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="stats-card">
                      <h6>Top Score</h6>
                      <h4 id="top-score"></h4>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="stats-card">
                      <h6>Average Score</h6>
                      <h4 id="avg-score"></h4>
                    </div>
                  </div>
                </div>

                <!-- Rankings Table -->

                <div class="table-responsive shadow rounded">
                  <table class="table table-hover align-middle">
                    <thead class="table-primary">
                      <tr>
                        <th>Rank</th>
                        <th>Student Name</th>
                        <th>Batch Name</th>
                        <th>Exam Title</th>
                        <th>Total Marks</th>
                        <th>Score</th>
                        <th>Status</th>
                        <th class="text-center">View Answer</th>
                      </tr>
                    </thead>
                    <tbody id="rank-body">

                    </tbody>
                  </table>
                </div>


                <div class="modal fade" id="studentDetailAnswerModal" tabindex="-1" role="dialog"
                  aria-labelledby="studentDetailModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="viewModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body" id="View-Modal">


                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!--end::Container-->
          </div>
          <!--end::App Content-->
        </main>
        <!--end::App Main-->

        <%- include('../layouts/admin/footer') %>

          <script>

            $(document).ready(function () {

              let allStudentSQusAns = [];

              $('#courseId').change(function () {
                const courseId = $(this).val();
                if (!courseId) {
                  return false;
                }
                $.ajax({
                  url: '/admin/batches/filter',
                  type: 'GET',
                  data: { courseId },
                  success: function (response) {
                    if (response.status) {
                      let html = ' <option value="" disable>Select Batch</option>'

                      if (response.data.length > 0) {
                        response.data.forEach((batch) => {
                          html += `<option value="${batch._id}">${batch.name}</option>`;
                        })

                      }
                      $('#batchId').html(html);

                    }
                  },
                  error: function (xhr) {
                    if (handleAuthRedirect(xhr)) return;
                  }
                })

              })

              $('#batchId').change(function () {
                const batchId = $(this).val();
                if (!batchId) {
                  return false;
                }

                $.ajax({
                  url: '/admin/exams/filter',
                  type: 'GET',
                  data: { batchId },
                  success: function (response) {
                    // console.log(response);
                    if (response.status) {
                      const now = new Date();
                      let html = ' <option value="" disable>Select Exam</option>'

                      if (response.data.length > 0) {
                        const compltedExams = response.data.filter((exam) => {
                          const startTime = new Date(exam.startTime);
                          const endTime = new Date(startTime.getTime() + exam.duration * 60000);
                          return endTime < now;
                        })

                        compltedExams.forEach((exam) => {
                          html += `<option value="${exam._id}">${exam.title}</option>`;
                        })

                      }
                      $('#examId').html(html);

                    }
                  }
                })

              })

              $('#ranking-filter-form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                  url: `/admin/ranks/${$('#batchId').val()}/${$('#examId').val()}`,
                  type: 'GET',
                  success: function (response) {
                    if (response.status) {
                      // console.log(response.data);
                      $('#tot-student').text(response.data.rankData.length);
                      $('#top-score').text(response.data.topScore);
                      $('#avg-score').text(response.data.avgScore);

                      let html = '';
                      if (response.data.rankData.length > 0) {
                        response.data.rankData.forEach((item) => {

                          let statusClass = item.status === 'Passed' ? 'bg-success' : 'bg-danger'

                          html += `
                              <tr id='fade-in'>
                          <td>${item.rank}</td>
                          <td>${item.studentName}</td>
                          <td>${response.data.batchName}</td>
                          <td>${response.data.examTitle}</td>
                          <td>${item.totalMarks}</td>
                          <td>${item.score}</td>
                          <td><span class="badge ${statusClass}">${item.status}</span></td>
                          <td class="text-center">
                          <button class="btn btn-sm btn-primary view-btn" data-student-id="${item.studentId}">View</button>  
                          </td>
                        </tr>
                              `

                          allStudentSQusAns.push({ studentId: item.studentId, name: item.studentName, quesAns: item.quesAns });
                        })


                      } else {
                        html += `
                            <tr id='fade-in'>
                               <td colspan='8' class='text-center'> No Data Found </td>
                               </tr>
                             `
                      }

                      $('#rank-body').html(html);
                      $('.fade-in').hide().fadeIn(500);

                    }
                  },
                  error: function (xhr) {
                    if (handleAuthRedirect(xhr)) return;
                  }
                })
              })

              $(document).on('click', '.view-btn', function () {
                const studentId = $(this).data('student-id');
                // console.log(allStudentSQusAns);

                const studentData = allStudentSQusAns.find((item) => item.studentId == studentId);

                // console.log(studentData);

                let html = '';
                studentData.quesAns.forEach((val) => {
                  html += `
                      <div class="card mb-3 shadow-sm">
  <div class="card-body">
    <h6 class="card-title mb-2">
      ${val.qno}. ${val.questionText}
    </h6>
    <p class="mb-1">
      <span class="fw-bold text-primary">Submitted Answer:</span>
      <span class="badge bg-secondary">${val.yourAns}</span>
    </p>
    <p class="mb-0">
      <span class="fw-bold text-success">Correct Answer:</span>
      <span class="badge bg-success">${val.correctAns}</span>
    </p>
  </div>
</div>
                      `

                  $('#viewModalLabel').text(`Detail Answers of ${studentData.name}`)

                })


                $('#View-Modal').html(html);

                const modal = new bootstrap.Modal(document.getElementById('studentDetailAnswerModal'));
                modal.show();


              })

              function handleAuthRedirect(error) {
                const response = error.responseJSON;
                if (error.status === 401) {
                  window.location.href = '/admin/login';
                  return true;
                }
                return false;
              }


            })
          </script>

  </body>
  <!--end::Body-->

  </html>